<!-- Footer: begin -->
<footer class="stickyfooter" role="contentinfo">
  <div class="footer-logo">
    <a href="{{ site.baseurl }}"><i class="fa fa-{{ site.fort_awesome_icon }}"></i></a>
  </div>
    <ul>
      <li><a href="{{ site.baseurl }}/about/">About</a></li>
      <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      <li><a href="{{ site.baseurl }}/search/">Search</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li>Developed by <a href="http://webjeda.com/">Webjeda</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="{{ site.baseurl }}/feed.xml">
                <i class="fa fa-rss-square"></i>
        </a></li>
        {% if site.owner.github %}
            <li><a href="http://github.com/{{ site.owner.github }}">
                <i class="fa fa-github-square"></i>
            </a></li>
        {% endif %}

        {% if site.owner.twitter %}
            <li><a href="http://twitter.com/{{ site.owner.twitter }}">
                <i class="fa fa-twitter-square"></i>
            </a></li>
        {% endif %}

        {% if site.owner.linkedin %}
            <li><a href="http://linkedin.com/in/{{ site.owner.linkedin }}">
                <i class="fa fa-linkedin-square"></i>
            </a></li>
        {% endif %}

        {% if site.owner.google_plus %}
            <li><a href="http://plus.google.com/+{{ site.owner.google_plus }}">
                <i class="fa fa-google-plus-square"></i>
            </a></li>
        {% endif %}

        {% if site.owner.facebook %}
            <li><a href="http://facebook.com/{{ site.owner.facebook }}">
                <i class="fa fa-facebook-square"></i>
            </a></li>
        {% endif %}

        {% if site.owner.youtube %}
            <li><a href="http://github.com/{{ site.owner.youtube }}">
                <i class="fa fa-youtube-square"></i>
            </a></li>
        {% endif %}
      </ul>
    </div>
    <!-- This removes the small sliver of whitespace at the end of the page -->
    <br/>
</footer>
<!-- Footer: end -->